body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
    padding: 20px;
}

#camera-feed {
    border: 5px solid #00a0e9;
    border-radius: 10px;
    width: 85%;
    max-width: 800px;
    height: auto;
    background-color: #000;

    /* transform: scaleX(-1); */
}

#capture-button {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 1.1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#capture-button:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
}

#status-container {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 800px;
}
